
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(146, 135, 135, 0.273);   
}
header{
    padding: 1rem 2rem 0;
    background-color: #ffffff00;
}
header .NavContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff00;
}
.NavLogo{
    box-sizing: border-box;
    padding: 0 0 10px 0;
    margin: 0;
    background-color: #ffffff00;
}
.Img1{
    width: 50px;
    background-color: #ffffff00;
}
.NavLogo a{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    background-color: #ffffff00;
}
.NavLogo span{
    padding-left: 15px;
}
.NavTitle{
    background-color: #ffffff00;
}
.NavLinks{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff00;
    padding: 0 0 10px 0;
}
.NavLink{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-left: 2rem;
    background-color: #ffffff00;
}
.Link{
    color: #000;
    font-weight: 600;
    cursor: pointer;
    background-color: #ffffff00;
}
.NavLink :hover{
    color:#db2828;
}
/*--blog--------------------------*/
#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
}
.blog-heading span{
    color: #c72727;
    font-size: 3rem;
    font-weight: 700;
    background-color: #ffffff00;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #ffffff00;
}

.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 20px;
    border-radius: 10px;
}
.blog-img{
    width:100%;
    height: auto;
    
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
    background-color: #ffffff00;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
    background-color: #ffffff00;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
    background-color: #ffffff00;
}
.blog-text a{
    color: #0f0f0f;
    background-color: #ffffff00;
    margin: auto;
}
.blog-text a:hover{
    color: #db2828;
    transition: all ease 0.3s;
}
.footer{
    border-top: 2px solid ;
    padding-top: 4rem;
}
.footerContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff00;
}
.footer1{
    display: flex;
    flex-direction: column;
    background-color: #ffffff00;
}
.footer1 h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: black;
    background-color: #ffffff00;
}
.SocialMedia{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #ffffff00;
}
.SocialLinks{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #ffffff00;
}
.SocialLogo{
    width: 40px;
    background-color: #ffffff00;
}
.SocialLinks a{
    margin-right: 2rem;
    color: black;
    background-color: #ffffff00;
}

@media(max-width:1250px){

    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}

@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}

.slideshowContainer{
    padding: 20px 20px;
}
.slideshow {
    overflow: hidden;
    border-radius: 20px;
    height: 560px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.slide {
    float: left;
    height: 580px;
    width: 1000px;
}
.slideImg{
    width: 100%;
}
.Slide-title{
    z-index: 10;
    padding: 0 10px;
    background-color: #ffffff00;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.6rem;
}
.slide-wrapper {
    width: calc(1000px * 4);
    animation: slide 15s ease infinite;
}
@keyframes slide {
    20% {
        margin-left: 0px;
    }
    40% {
        margin-left: calc(-1000px * 1);
    }
    60% {
        margin-left: calc(-1000px * 2);
    }
    80% {
        margin-left: calc(-1000px * 3);
    }
}
.Pic-heading{
    background-color: #ffffff00;
}
.Pic-heading span{
    color: #000000;
    font-size: 4rem;
    font-weight: 800;
    background-color: #ffffff00;
}
.Pic{
    margin: 20px;
    border-radius: 20px;
    width: 90%;
    justify-content: center;
    background-color: #ffffff00;
}
.MainPic{
    justify-content: center;
    width: 95%;
    background-color: #ffffff00;
    padding-left: 5%;
}
.Descryption{
    padding: 20px 130px;
    background-color: #ffffff00;
}
.Descryption p{
    background-color: #ffffff00;
    font-weight: 500;
}
.Descryption-container{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 80%;
    border-radius: 20px;
}
.Descryption-container h2{
    font-size: 2rem;
    background-color: #ffffff00;
    text-align: center;
    padding-top: 40px;
}
.Descryption-container h4{
    font-size: 0.7rem;
    background-color: #ffffff00;
    text-align: center;
    font-weight: 500;
}
.Descryption-container h3{
    font-size: 2rem;
    background-color: #ffffff00;
    text-align: center;
    padding: 20px 0px;
}
.Box1{
    display: flex;
    background-color: #ffffff00;
    padding: 0px 10%;
    padding-bottom: 20px;
}
.Des-box{
    width:650px;
    background-color: rgba(229, 229, 229, 0.697);
    border: 1px solid #ececec;
    margin: 20px 20px;
    border-radius: 10px;
}
.Des-text{
    font-size: 0.8rem;
    font-weight: 400;
    color: #272727;
    background-color: #ffffff00;
    padding: 20px 10px;
}
.Des-text span{
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 20px;
    background-color: #ffffff00;
}
.Des-text p{
    background-color: #ffffff00;
}
.Des-text h2{
    padding: 20px 0px;
}
.GP-box{
    width:96%;
    background-color: rgba(229, 229, 229, 0.697);
    border: 1px solid #ececec;
    margin: 20px 20px;
    border-radius: 10px;
}
.tweet-box{
    width:96%;
    background-color: #ffffff00;
    margin: 20px 20px;
    border-radius: 10px;
    justify-content: center;
}

/*----------------- Review Page -----------------*/
.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: rgb(173, 74, 74);
    text-align: center;
    margin: auto;    
}
.innerB{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    border-radius: 10px;
    background-color: rgba(229, 229, 229, 0.697);
    
} 
.borderB{
    width: 260px;
    height: 5px;
    background: #000000;
    margin: 26px auto;
}
.rowB :hover{
    color: #000000;
}
.rowB{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.colB{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    background: linear-gradient(#e66465, #414542);
    padding: 30px;
    border-radius: 10px;
    color: #edecec
}
.testimonial1{
    background: linear-gradient(#e66465, #13c2c5);
    padding: 30px;
    border-radius: 10px;
    color: #ffffff
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    color: #ffffff;
}
.stars{
    color: #ffffff;
    margin-bottom: 20px;
}
  
  
  @media screen and (max-width:960px) {
  .colB{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .colB{
    flex: 100%;
    max-width: 100%;
  }
  }